# Email Spam Classification

In [ ]:
# Some of the popular languages that Data Scientists use are:

Python
R
SQL
Scala
Java
C++
Julia
JavaScript
PHP
Go
Ruby
Visual Basic

## Data Science Tools

In [ ]:
Data Science Tools
Jupyter Notebook
RStudio
Apache Zeppelin

## Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# Some of the commonly used libraries used by Data Scientists include:

Pandas
Numpy
Matplotlib
Seaborn
Scikit-learn
Keras
TensorFlow
PyTorch
Apache Spark
Vegas
Big DL
Ggplot2

# This a simple arithmetic expression to mutiply then add integers

In [ ]:
(376*874)+75 #simple arithmetic expression to mutiply then add integers

328699

In [2]:
# To convert 200 min to hours divided by 60
200//60

3

In [4]:
# this is a simple arithmetic to multiple then add integers

(4*3)+5

17



```
# This is formatted as code
```

# Objectives


*   Add comments to code

*   Create markdown cells

*   Add ordered and unordered lists to markdown cells
*   Format content of markdown cells with heading styles

## Author(s)


*   Mohit Sharma
*   Lalit

** showing the code cell created to convert minutes to hours **

In [ ]:
 # showing the code cell created to convert minutes to hours

2000//60

33